html {
    height: 100%;
    background-image: url(Image/window-bg.png);
    background-color: #eee;
}

body {
    display: flex;	
    flex-direction: column;
    min-height: 100%;
    padding: 0;
    margin: 0 auto;
    width: 700px;
    font-size: 10pt;
    background-image: url(Image/content-bg.png);
    background-repeat: repeat-y;
    color: black;
}

#title {
    width: 100%;
    background-image: url(Image/title-bg.png);
    background-repeat: repeat-x;
    color: white;
}

h1 {
    margin: 0;
    padding: 5px 20px;
    font-size: 180%;
    letter-spacing: 1px;
}

#content {
    flex: 1 0 auto;
    overflow: hidden;
    min-height: 100%;
    width: 100%;
}

#sections {
    float: left;
    width: 20%;
    font-size: 80%;
}

#sections h2 {
    display: none;
}

ul {
    list-style: none;
    margin: 50px 0;
    padding: 0;
}

ul li a {
    background-color: #293499;
    color: white;
    border: 1px solid white;
    display: block;
    margin: 5px 0;
    padding: 2px 5px;
    text-decoration: none;
}

ul li a:hover {
    background-color: black;
}

#main {
    float: left;
    width: 55%;
}

#main h2 {
    font-size: 130%;
    color: #293499;
    margin-top: 20px;
    margin-bottom: 10px;
}

#main h2, #main p {
    margin-left: 15px;
    margin-right: 15px;
}

#main p img {
    border: 1px solid black;
    border-color: 45F;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 5px;
}

#news {
    float: right;
    width: 25%;
    font-size: 80%;
}

#news h2 {
    font-size: 125%;
    font-weight: bold;
    text-transform: uppercase;
    background-color: url(Image/news-head-bg.png);
    background-repeat: repeat-x;
    padding: 10px;
    margin-bottom: 20px;
}

#news h3 {
    margin: 0;
    font-size: 120%;
    font-weight: bold;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

#news p {
    margin-left: 20;
    margin-right: 5px;
}

#news a {
    color: #D00;
    background-repeat: no-repeat;
    padding-right: 5px;
}

#footer {
    width: 690px;
    padding: 5px;
    flex: 0 0 auto;
    font-size: 70%;
}

#footer, #footer a {
    background-color: #293499;
    color: white;
}

#footer p {
    margin: 5px;
}

#lgnfrm {
    text-align: center;
    border: 3px blue solid;
}

#lgnfrm h3, #regfrm h3 {
    margin: 0;
    padding: 5px;
    vertical-align: center;
    color: blue;
    font-size: 150%;
    border-bottom: 3px solid blue;
}

#regfrm h3 {
    text-align: center;
}

#lgnfrm input {
    width: 95%;
}

#lgnfrm a, #regfrm a {
    font-size: 150%;
    text-decoration: none;
}

#lgnfrm p:nth-child(3) {
    margin: 0;
    padding: 5px;
    border-top: 3px solid blue;
}

#lgnfrm p:nth-child(4) {
    border-bottom: 3px solid blue;
}

#inborder {
    padding: 1px 20px;
    border: 2px solid blue;
}

#pinborder {
    margin: 10px;
}

#reg {
    padding: 5px;
}

#regfrm {
    color: blue;
    margin: 10px;
    padding: 5px;
    border: 3px blue solid;
}
#regfrm p:last-child {
    margin: 0;
    padding: 10px;
}
#regfrm input {
    width: 200px;
    margin-left: 50px;
}

#regfrm button, #regfrm button[type=submit] {
    border: 3px solid blue;
    padding: 1px 20px;
    color: white;
    background-color: #4682B4;
}

#regfrm button {
    width: 100px;
    height: 21px;
    font-size: 100%;
}
#regfrm button[type=submit] { text-align: center; margin: 0; padding: 0; }